<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Action History</title>
</head>
<body>
<div>
    <ul>
        <li>
            <a th:href="'/?name=' + ${fox.name}">Information</a>
        </li>
        <li>
            <a th:href="'/nutritionStore?name=' + ${fox.name}">Nutrition Store</a>
        </li>
        <li>
            <a th:href="'/trickCenter?name=' + ${fox.name}">Trick Center</a>
        </li>
        <li>
            <a th:href="'/actionHistory?name=' + ${fox.name}">Action History</a>
        </li>
    </ul>
</div>
<div>
    <img src="greenfox.png" alt="fox">
</div>
<div>
    <p th:if="${fox.numberOfActions() == 0}">There was no action yet.</p>
    <ul th:unless="${fox.numberOfActions() == 0}" th:each="action : ${fox.getActions()}">
        <li th:text="${action}"></li>
    </ul>
</div>
</body>
</html>