<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div>
    <ul>
        <li>
            <a href="">Information</a>
        </li>
    </ul>
</div>
<div>
    <img src="greenfox.png" alt="fox">
</div>
<div>
    <p>This is Mr. Fox. Currently living on pizza and lemonade. He knows 2 tricks.</p>
</div>
<div>
    <h1>Known tricks</h1>
</div>
<div>
    <ul>
        <li>write HTML</li>
        <li>code in Java</li>
    </ul>
</div>
</body>
</html>