<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div>
    <ul>
        <li>
            <a href="">Information</a>
        </li>
    </ul>
</div>
<div>
    <img src="greenfox.png" alt="fox">
</div>
<div>
    <p th:text="${fox}"></p>
</div>
<div>
    <h1>Known tricks</h1>
</div>
<div th:if="${fox.numberOfTricks() != 0}">
    <ul th:each="trick : ${fox.getTricks()}">
        <li th:text="${trick}"></li>
    </ul>
</div>
<div th:unless="${fox.numberOfTricks() != 0}">
    <p>You know no tricks yet. Go and learn some.</p>
</div>
</body>
</html>