<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Welcome to Programmer Fox Club!</h1>
<div>
    <p>Please provide a name, so you can associate it to your pet!</p>
</div>
<div>
    <form th:action="@{/login}" method="post">
        <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
        <input type="submit" value="GO">
        </div>
    </form>
    <form th:action="@{/add}" method="post">
        <label for="new-name">New name</label>
        <input type="text" id="new-name" name="new-name">
        <input type="submit" value="ADD">
    </form>
</div>
</body>
</html>