<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trick Center</title>
</head>
<body>

<div>
    <ul>
        <li>
            <a th:href="'/?name=' + ${fox.name}">Information</a>
        </li>
        <li>
            <a th:href="'/nutritionStore?name=' + ${fox.name}">Nutrition Store</a>
        </li>
        <li>
            <a th:href="'/trickCenter?name=' + ${fox.name}">Trick Center</a>
        </li>
    </ul>
</div>
<div>
    <img src="greenfox.png" alt="fox">
</div>
<form th:action="@{'/trickCenter?name=' + ${fox.name}}" method="post">

    <div th:if="${!fox.learntAllTricks()}">
        <label for="trick">Tricks</label>
        <select id="trick" name="trick" required>
            <option th:each="trick : ${tricks}" th:text="${trick}"></option>
        </select>

        <button type="submit">Learn</button>
    </div>
    <div th:unless="${!fox.learntAllTricks()}">
        <p>Congratulations, you have learnt all tricks!</p>
    </div>
</form>
</body>
</html>