<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Bank Account</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/add-style.css}" />
</head>

<body>
<div>
    <h1>Add New Bank Account!</h1>
</div>

<section>
    <form th:action="@{/add2}" th:object="${account}" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" th:name="name" th:field="*{name}" required>
        </div>

        <div>
            <label for="balance">Balance:</label>
            <input type="number" id="balance" th:name="balance" th:field="*{balance}" required>
        </div>

        <div>
            <label for="animal-type">Animal type:</label>
            <select id="animal-type" th:name="animalType" th:field="*{animalType}">
                <option th:value="choose">choose</option>
                <option th:value="lion">lion</option>
                <option th:value="warthog">warthog</option>
                <option th:value="meerkat">meerkat</option>
                <option th:value="hyena">hyena</option>
                <option th:value="mandrill">mandrill</option>
                <option th:value="africanBuffalo">african buffalo</option>
                <option th:value="cheetah">cheetah</option>
                <option th:value="elephant">elephant</option>
                <option th:value="rhinoceros">rhinoceros</option>
                <option th:value="jackal">jackal</option>
                <option th:value="hippopotamus">hippopotamus</option>
                <option th:value="mongoose">mongoose</option>
                <option th:value="baboon">baboon</option>
                <option th:value="other">other</option>
            </select>
        </div>

        <div>
            <span>Is King?</span>
            <input type="radio" id="Yes" name="isKing" th:value="true">
            <label for="Yes">Yes</label>
            <input type="radio" id="No" name="isKing" th:value="false">
            <label for="Yes">No</label>
        </div>

        <div>
            <span>Good/Bad</span>
            <input type="radio" id="Good" name="isGood" th:value="true">
            <label for="Good">Good</label>
            <input type="radio" id="Bad" name="isGood" th:value="false">
            <label for="Bad">Bad</label>
        </div>

        <div>
            <button type="submit">Add account</button>
        </div>
    </form>
</section>

</body>
</html>