<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank Accounts</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>

<body>
    <div>
    <h1>Bank of Symba</h1>
    </div>

    <section>
    <table>
        <div class="header">
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Balance</th>
                <th>Animal Type</th>
                <th>Is King?</th>
                <th>Good/Bad</th>
                <th>Raise Balance</th>
            </tr>
        </div>

        <div>
            <tr th:each="account : ${accounts}" th:object="${account}"
                th:attr="class=${account.getIsKing()} ? 'king' : 'notking'">

                <td class="indexes" th:text="${accountStat.count}"></td>
                <td th:text="*{name}"></td>
                <td class="balance" th:text="*{#numbers.formatDecimal(balance, 0, 2, 'POINT')}"></td>
                <td th:text="*{animalType}"></td>
                <td th:text="*{getIsKing() ? 'Yes' : 'No'}"></td>
                <!--
                <td th:switch="*{isGood()}">
                    <span th:case="true">Good</span>
                    <span th:case="false">Bad</span>
                </td>
                OR:-->
                <td th:text="*{getIsGood() ? 'Good' : 'Bad'}"></td>

                <td class="button">
                    <form th:action="@{/raise-balance}" method="POST">
                        <button type="submit" th:name="raise-balance" th:value="*{name}">+</button>
                    </form>
                </td>

            </tr>
        </div>
    </table>
    </section>

    <section>
    <div>
        <form th:action="@{/accounts}" method="POST">
            <div>
                <label for="select-name">Raise the Balance!</label>
                <select id="select-name" name="select-name">
                    <option th:each="account : ${accounts}" th:value="${account.name}" th:text="${account.name}"></option>
                </select>
                <input type="submit" value="Raise">
            </div>
        </form>
    </div>

    <div>
        <a th:href="@{/add2}">Add new bank account</a>
    </div>
    </section>
</body>
</html>