<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" th:href="@{/style.css}" />
<head>
    <meta charset="UTF-8">
    <title>Assigneed Todos</title>
</head>
<body>
<h1 th:text="'Assigned todos to ' + ${name} + ':'"></h1>
<table>
    <tr>
        <th>ID</th>
        <th>DATE OF CREATION</th>
        <th>DUE DATE</th>
        <th>ACTION</th>
        <th>ASSIGNEE</th>
        <th>DONE</th>
        <th>URGENT</th>
    </tr>
    <tr th:each="todo : ${todos}" th:object="${todo}">
        <td th:text="*{id}"></td>
        <td th:text="*{creationDate}"></td>
        <td th:text="*{dueDate}"></td>
        <td th:text="*{title}"></td>
        <td th:text="*{assignee}"></td>
        <td th:text="*{done}"></td>
        <td th:text="*{urgent}"></td>
        <td>
            <a th:href="'/todos/' + *{id} + '/delete'">delete</a>
        </td>
        <td>
            <a th:href="'/todos/' + *{id} + '/edit'">edit</a>
        </td>
    </tr>
</table>
<div>
    <a th:href="@{/assignees/list}">Back to assignees</a>
</div>
<div>
    <a th:href="@{/todos/list}">Back to list of todos</a>
</div>
</body>
</html>