<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Edit Todo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>
    Edit Todo
</h1>
<form th:action="@{'/todos/' + ${todo.id} + '/edit'}" th:object="${todo}" th:method="post">
    <div>
        <label for="title">Todo Description</label>
        <input type="text" id="title" th:field="*{title}">
    </div>
    <div>
        <label for="is-urgent">Urgent</label>
        <input type="checkbox" id="is-urgent" th:field="*{urgent}">
    </div>
    <div>
        <label for="due-date">Due date</label>
        <input type="date" id="due-date" th:field="*{dueDate}">
    </div>
    <div>
        <label for="is-done">Done</label>
        <input type="checkbox" id="is-done" th:field="*{done}">
    </div>
    <div>
        <label for="assignee">Select assignee</label>
        <select id="assignee" name="assignee" th:field="*{assignee}">
            <option th:each="assignee : ${assignees}" th:text="${assignee.name}" th:value="${assignee.id}"></option>
        </select>
    </div>
    <div>
        <input type="submit" value="Save">
    </div>
    <div>
        <a href="/todos/list">Cancel</a>
    </div>
</form>
</body>
</html>