<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" th:href="@{/style.css}" />
<head>
    <meta charset="UTF-8">
    <title>Search result</title>
</head>
<body>
<h1>
    Search result:
</h1>
<table>
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>DONE</th>
        <th>URGENT</th>
    </tr>
    <tr th:each="todo : ${todos}" th:object="${todos}">
        <td th:text="*{id}"></td>
        <td th:text="*{title}"></td>
        <td th:text="*{done}"></td>
        <td th:text="*{urgent}"></td>
        <td>
            <a th:href="'/todos/' + *{id} + '/delete'">delete</a>
        </td>
        <td>
            <a th:href="'/todos/' + *{id} + '/edit'">edit</a>
        </td>
    </tr>
</table>
</body>
</html>