<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<link rel="stylesheet" th:href="@{/style.css}" />-->
<link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>
<body>
<h1>
    Todos for today:
</h1>
<a href="/todos/add">Add new todo</a>
<div>
    <form th:action="'/todos/list?is-active=' + ${isActive}" method="get">
        <label for="search-key">Search by:</label>
        <select id="search-key" class="custom-select custom-select-sm" name="search-key">
            <option value="null"> - </option>
            <option value="title">title</option>
            <option value="assignee">assignee</option>
            <option value="creation">creation date</option>
            <option value="due">due date</option>
        </select>
        <input type="search" id="search" name="search">
        <input type="submit" value="search">
    </form>
</div>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">DATE OF CREATION</th>
        <th scope="col">DUE DATE</th>
        <th scope="col">ACTION</th>
        <th scope="col">ASSIGNEE</th>
        <th scope="col">DONE</th>
        <th scope="col">URGENT</th>
    </tr>
    </thead>
    <tr th:each="todo : ${todos}" th:object="${todo}" scope="row">
        <td th:text="*{id}"></td>
        <td th:text="*{#dates.format(creationDate,'yyyy-MM-dd')}"></td>
        <!--<td th:text="*{creationDate}"></td>-->
        <td th:text="*{#dates.format(dueDate, 'yyyy-MM-dd')}"></td>
        <!--<td th:text="*{dueDate}"></td>-->
        <td th:text="*{title}"></td>
        <td>
            <!--<a th:if="*{assignee} != null" th:href="'/assignees/' + *{assignee.id} + '/todos'" th:text="*{assignee.name}"></a>-->
            <a th:href="'/assignees/' + *{getAssigneeId()} + '/todos'" th:text="*{getAssigneeName()}"></a>
        </td>
        <td th:text="*{done}"></td>
        <td th:text="*{urgent}"></td>
        <td>
            <a th:href="'/todos/' + *{id} + '/delete'">delete</a>
        </td>
        <td>
            <a th:href="'/todos/' + *{id} + '/edit'">edit</a>
        </td>
    </tr>
</table>
<div>
    <a th:href="@{/todos/list}">List all</a>
</div>
<div>
    <a th:href="@{/assignees/list}">List of assignees</a>
</div>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
</body>
</html>