<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<html>
<body>
<h1>Sign up</h1>
<form action="/register" th:object="${user}" method="POST">
    <div>
        <label for="username">Username: </label>
        <input th:field="*{username}" id="username">
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="password" id="password" th:field="*{password}"/>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>
</body>
</html>
